<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="" name="description">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!--<link href="images/favicon.png" rel="icon"> -->
</head>

<body>

  <header>
    <div class='container'>
      <div class="row">
        <nav class="col col-md-8 top-nav">
          <ul>
            <li><a href='//treerock.me/'>home</a></li>
            <li><a href='https://github.com/BruceHad/tr-chat'>github</a></li>
          </ul>

          <h1><a href="/">{{ title }}</a></h1>
          <p class="subtitle">{{ subtitle }}</p>
          
        </nav>
        
        <div class="col col-md-4 align-right">
          <div class="user-details">Hello <input type="text" size="10" id="user-field" readonly="true" value="{{user.name}}"> <button id="update-user-button">Change</button><button id="save-name" class="hidden">Save</button></div>
        </div>
      </div><!-- row -->
    </div>
  </header>


  {{{body}}}


  <footer class='navbar-fixed-bottom'>
    <div class='container'>
      <p>a <a href='//treerock.me/'>treerock</a> build || <i>{{ lastUpdated }}</i></p>
    </div>
  </footer>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.js"></script>

</html>
